<ion-content [fullscreen]="true">
  <div class ="imgContainer">
    <img src="./assets/imgs/runnerMain.png" alt="landing">
    </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="landing-container">
    <div class="landing-header">
      <ion-header class="landing-header-text ion-no-border "style="font-size:40px;">Tracer</ion-header>
      <ion-text>Tracer is a contact tracing app that helps you keep track of your contacts and their health status</ion-text>
    </div>
    <div class="landing-bottom">
      <p class="landing-bottom-text"></p>
      <ion-button routerLink="/signup"  class="landing-button primaryBtn" size="block">Create an Account</ion-button>
      <hr>
      <p class="landing-bottom-text" routerLink="/login">Have an account? <b style="color:aqua;">Sign in</b></p>
    </div>
  </div>
</ion-footer>
