<ion-content [fullscreen]="true">
  <div class="header">
    <ion-toolbar fill="clear">
      <ion-buttons slot="start" fill="clear">
        <ion-button  (click)="nextSlide()"></ion-button>
        <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
        </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="skipOnboarding()" fill="clear">Skip</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <swiper-container #swiperRef
  [afterinit]="onSliderInit()" 
  [pagination]="true" 
  >
      <swiper-slide>
        <img src="./assets/imgs/1runner.png">
        <div class="boarding">
        <h2>Welcome to Tracer</h2>
        <p>Tracer is a contact tracing app that helps you keep track of your contacts and their health status</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <img src="./assets/imgs/3runner.png" alt="onboarding3">
        <div class="boarding">
        <h2>Stay safe</h2>
        <p>Tracer does NOt help you</p>
      </div>
      </swiper-slide>
      <swiper-slide>
        <img src="./assets/imgs/2runner.png" alt="onboarding2">
        <div class="boarding">
        <h2>Keep track of your contacts</h2>
        <p>Tracer helps you keep track of your contacts and their health status</p>
     </div>
      </swiper-slide>
    

    <div class="swiper-pagination"></div>
  </swiper-container>
</ion-content>