

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1" (click)="isTabActive(1)">
      <fa-icon [icon]="faHome"size="3x" [style]="tab === 1? 'color:#0559C6':'--color:white'"></fa-icon>

    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2" (click)="isTabActive(2)">
      <fa-icon [icon]="faWalking"size="3x" [style]="tab === 2? 'color:#0559C6':'--color:white'"></fa-icon>

    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3" (click)="isTabActive(3)">
      <fa-icon [icon]="faUser"size="3x" [style]="tab === 3? 'color:#0559C6':'--color:white'"></fa-icon>
    </ion-tab-button>
    <ion-tab-button (click)="logout()" >
      <ion-icon name="log-out-outline" style="font-size: 40px;" [style]="tab === 4? 'color:#0559C6':'--color:white'" ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>