ion-tab-bar{
    --ion-tab-bar-text-color-active:#0559C6;
    --background : #049F9D;
    --border:none;
    margin-bottom: 16px;
    margin-left: 20px;
    margin-right: 20px;
    
    border-radius: 15px;
}
ion-icon{
    --color: white;
    color: white;
}
fa-icon{
    --color: white;
    color: white;
}

