<ion-content [fullscreen]="true">
  <div class="header">
  </div>
  <div class="main-container"  *ngIf="showingDetails === false">
    <ion-select placeholder="Last 5 runs" [(ngModel)]="selectedFilter" (ionChange)="filterTime()" class="--ion-text-color: white;" interface="popover">
      <ion-select-option value="5">Last 5 runs</ion-select-option>
      <ion-select-option value="10">Last 10 runs</ion-select-option>
      <ion-select-option value="15">Last 15 runs</ion-select-option>
      <ion-select-option value="20">Last 20 runs</ion-select-option>
    </ion-select>

  <div *ngFor="let value of Data">
    <div class="container" id="maincontain" (click)="raceDetails(value)">
      <div class="row">
        <div class="col">
          <h4> Date : {{formatDate(value.date)}}</h4>
          <h4> Run Type - {{value.type}}</h4>
        </div>
        <ion-icon name="chevron-forward-outline"  ></ion-icon>
      </div>
    </div>
  </div>
  </div>
  <div class="sub-container" [style.display]="showingDetails ? 'block' : 'none'">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon name="chevron-back-outline" color="white" (click)="goBack()"></ion-icon>
        </ion-buttons>
        <ion-title>
          Run Details
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="sub-header">
    
      <h4> Date : {{formatDate(selectedItem.date)}}</h4>
      <h4> Run Type - {{selectedItem.type}}</h4>
    </div>
    <ion-card>
      <ion-card-content>
        <div>
        <canvas #lineCanvas style="position: relative; height:20vh; width:40vw; background-color: white;"></canvas>
      </div>
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Distance</ion-card-title>
            </ion-card-header>
           <ion-card-content> 
              <h2> 2.8 miles</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Time</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h2>31:27 minutes</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Calories</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h2> 330 calories</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Average Speed</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h2> 5.3 mph</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
