<ion-content [fullscreen]="true">
<div class="header form-container">
<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title class="ion-text-center">
        <h1>Profile</h1>
      </ion-title>
      <ion-buttons slot="end" (click)="playAudio()">
        <ion-icon name="musical-notes-outline" ></ion-icon>
      </ion-buttons>
    </ion-toolbar>
    </ion-header>

  <div class="form-item">
    <ion-input label="First Name" type="text" [(ngModel)]="User.user_FirstName" label-placement="floating" fill="outline"></ion-input>
  </div>
  <div class="form-item">
    <ion-input label="Last Name" type="text" [(ngModel)]="User.user_LastName" label-placement="floating" fill="outline"></ion-input>
  </div>
    <div class="form-item">
    <ion-input label="Email" type="email" [(ngModel)]="User.user_Email" label-placement="floating" fill="outline"></ion-input>
  </div>
  <div class="form-item">
    <ion-input label="Date of Birth" type="date" [(ngModel)]="User.user_Dob" label-placement="floating" fill="outline" ></ion-input>
  </div>
  <div class="form-item">
    <ion-input label="Height in CM" type="number" label-placement="floating" fill="outline" placeholder="Please enter your height"[(ngModel)]="User.user_Height"></ion-input>
  </div>
 
  <div class="form-item">
    <ion-input label="Weight in LBS" type="number" label-placement="floating" fill="outline" [(ngModel)]="User.user_Weight"></ion-input>

  </div>
  <div class="button">
    <ion-button shape="round" style=" --background : #049F9D;color:white;" (click)="saveUserInfo()">Save</ion-button>
  </div>
</div>
</ion-content>
