<ion-content [fullscreen]="true">
  <div class="header">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon
            name="arrow-back-outline"
            routerLink="/landingpage"
          ></ion-icon>
        </ion-buttons>
        <ion-title>
          <h1>Register</h1>
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
  <div class="form-welcome">
    <p style="color: white">Fill in the form below to create an account</p>
  </div>
  <form class="form-container">
    <div class="row top">
      <div class="form-item">
        <div class="label">
          <ion-label> First Name </ion-label>
        </div>
        <ion-input
          type="text"
          labelPlacement="stacked"
          placeholder="Enter your given name"
          [(ngModel)]="user.user_FirstName"
          name="Firstname"
          label-placement="floating"
          errorText=""
        >
          <ion-icon
            slot="start"
            name="person-outline"
            style="margin-left:15px;"
            aria-hidden="true"
          ></ion-icon>
        </ion-input>
      </div>
      <div class="form-item">
        <div class="label">
          <ion-label> Last Name </ion-label>
        </div>
        <ion-input
          type="text"
          labelPlacement="stacked"
          placeholder="Enter your surname"
          [(ngModel)]="user.user_LastName"
          name="Lastname"
          label-placement="floating"
          errorText=""
        >
          <ion-icon
            slot="start"
            style="margin-left:15px;"
            name="person-outline"
            aria-hidden="true"
          ></ion-icon>
        </ion-input>
      </div>
    </div>
    <div class="bottom">
      <div class="form-item">
        <div class="label">
          <ion-label> Password </ion-label>
        </div>
        <ion-input
          type="password"
          labelPlacement="stacked"
          placeholder="Enter your password"
          label-placement="floating"
          [(ngModel)]="user.user_Password"
          name="Password"
        >
          <ion-icon
            slot="start"
            style="margin-left:15px;"
            name="lock-closed-outline"
            aria-hidden="true"
          ></ion-icon>
        </ion-input>
      </div>

      <div class="form-item">
        <div class="label">
          <ion-label> Confirm Password </ion-label>
        </div>
        <ion-input
          [type]="showconfirmPassword ? 'text':'password'"
          labelPlacement="stacked"
          placeholder="Confirm your password"
          label-placement="floating"
          [(ngModel)]="confirmedPassword"
          name="ConfirmPassword"
        >
          <ion-icon
            slot="end"
            style="margin-right:15px;"
            [name]="showconfirmPassword? 'eye-outline': 'eye-off-outline'"
            (click)="toggleShowConfirmPassword()"
            aria-hidden="true"
          ></ion-icon>
        </ion-input>
      </div>
    </div>
    <div class="form-item">
      <div class="label">
        <ion-label> Email Address </ion-label>
      </div>
      <ion-input
        type="email"
        labelPlacement="stacked"
        placeholder="Email"
        class="email"
        [(ngModel)]="user.user_Email"
        name="Email"
        label-placement="floating"
        errorText=""
      >
        <ion-icon
          slot="start"
          style="margin-left:15px;"
          name="mail-outline"
          aria-hidden="true"
        ></ion-icon>
      </ion-input>
    </div>
    <ion-button expand="block" size="large" (click)="submitformData()"
      >Register</ion-button
    >
  </form>
</ion-content>
