ion-icon{
    font-size: 30px;
    margin-left:15px;
}

    .form-item {
        margin-left: 10px;
        margin-right: 10px;
    
    }
    .top{
        margin-top: 12.5px;
        margin-bottom: 12.5px;
    }
    ion-button{
        margin-top: 35px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right:10px;
        --border-radius: 15px;
    }
    .header{

    }
    .form-welcome{
            h1{
            font-size: 40px;
            font-weight: bold;}
        p{
            font-size: 20px;
            color:grey;
        }
    }
    h2{
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .label{
        margin-top: 25px;
        margin-bottom: 15px;
    }
   
    ion-input{
        --background: transparent;
        --color: white;
        --border-color: white;
        border: 1px solid white;
        padding-left: 20px;
    }
    p{
        color:white;
        margin-left:15px
    }
    ion-button{
        color: white;
        --background : #049F9D;
    }
 ion-icon{
    margin-left:15px;
        margin: right 10px;
    }