/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css"; 
@import "@ionic/angular/css/palettes/dark.system.css";

@font-face {
    font-family: 'Inter';
    src:  url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')
}
// ios bottom iphone x fixed
body {
    margin-top: constant(safe-area-inset-top);
    color: #f0f0f0;
  }
  ion-button{
    --color : #003366;

  }
  ion-tab-bar {
    margin-bottom: constant(safe-area-inset-bottom);
  }
  /* Style for the popover background and text color */
.custom-popover .popover-content {
  --background: #049F9D; /* Background color of the popover */
}

/* Style for each option's background and text color */
.custom-popover ion-item {
  --background: #049F9D; /* Background color of each option */
  color: white; /* Text color */
}

/* Ensure the text color within ion-item */
.custom-popover ion-item ion-label {
  color: white; /* Text color */
}
ion-alert.custom-alert {
  --backdrop-opacity: 0.3;
  --background: #049F9D;
}

.custom-alert .alert-button-group {
  padding: 8px;
}
.custom-alert-button{
  color:white !important;
}
button.alert-button.alert-button-confirm {
  background-color: white;
  color: #049F9D;
}

.md button.alert-button.alert-button-confirm {
  border-radius: 4px;
}

.ios .custom-alert button.alert-button {
  border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
}

.ios button.alert-button.alert-button-cancel {
  border-right: 0;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}
ion-alert.alert-danger{
  --background: #FF6347;
}
ion-alert.alert-success{
  --background: #049F9D;
}

ion-loading.custom-loading {
  --background: #e3edff;
  --spinner-color: #049F9D;

  color: #049F9D;
}